<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--使用注解，开启spring注解自动扫描一-->
    <context:component-scan base-package="com.github.aricSun.vsbo_oa"/>

<!--    spring整合mybatis
        思想:将所有的mybatis/1到的对象全部交给spring,所谓交给spring管理，就是AEspringl的配置文件中配置bean
-->

<!--    外部文件，数据源-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
    </bean>

<!--    配置数据库连接池-->
    <bean id="basicDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

<!--    sqlSessionFactory-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="basicDataSource"/>
        <property name="configLocation" value="classpath:mybatisConfig.xml"/>
        <property name="typeAliasesPackage" value="com.github.aricSun.vsbo_oa.pojo"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

<!--    sqlSession-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
    </bean>

<!--将接1口也交给spring管理，为接口创建代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!--        扫描包下的接口-->
        <property name="basePackage" value="com.github.aricSun.vsbo_oa.mapper"/>
    </bean>

</beans>






