<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启springMVC的的注解驱动-->
    <mvc:annotation-driven/>

<!--    开启扫描包配置，只扫描controller-->
    <context:component-scan base-package="com.github.aricSun.vsbo_oa.controller"/>

<!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    登陆拦截器的配置-->
    <mvc:interceptors>
        <mvc:interceptor>
<!--            拦截所有的请求-->
            <mvc:mapping path="/**"/>
<!--        哪一个拦截器-->
            <bean class="com.github.aricSun.vsbo_oa.intercepter.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>