<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aricSun.vsbo_oa.mapper.EmployeeMapper">

    <resultMap id="empAndDept" type="HashMap" autoMapping="true">
<!--     property:key column:列-->
        <id property="eId" column="e_id"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getEmpById" parameterType="int" resultType="Employee">
        select * from employee where e_id = #{id}
    </select>

    <select id="getEmps" resultMap="empAndDept">
        select employee.*, department.* from employee
            left join department
                on employee.d_id = department.d_id;
    </select>

<!--    新增用户信息-->
    <insert id="addEmp" parameterType="Employee">
        insert into employee
        values (
            null,
            #{password},
            #{ename},
            #{job},
            #{dId}
        )
    </insert>

    <update id="updateEmp" parameterType="Employee">
        update employee
        <set>
            <if test="ename!=null and ename!=''">
                ename = #{ename},
            </if>
            <if test="job!=null and job!=''">
                job = #{job},
            </if>
            <if test="dId != null">
                d_id = #{dId},
            </if>
        </set>
        where e_id = #{eId}
    </update>

    <delete id="deleteEmp" parameterType="int">
        delete from employee where e_id = #{eId}
    </delete>

<!--    登录的查询操作-->
    <select id="login" resultMap="empAndDept">
        select e.*, d.* from employee e
        left join department d
        on e.d_id = d.d_id
        where e.e_id = #{eId} and e.password = #{password};
    </select>

<!--    修改密码-->
    <update id="updatePassword">
        update employee
        set password = #{password}
        where e_id = #{eId};
    </update>
</mapper>