<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aricSun.vsbo_oa.mapper.RecordMapper">
    <resultMap id="BaseResultMap" type="com.github.aricSun.vsbo_oa.pojo.Record">
        <id column="record_id" jdbcType="INTEGER" property="recordId" />
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="record_type" jdbcType="VARCHAR" property="recordType" />
        <result column="record_result" jdbcType="VARCHAR" property="recordResult" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="ea_id" jdbcType="INTEGER" property="eaId" />
        <result column="e_id" jdbcType="INTEGER" property="eId" />
    </resultMap>
    <sql id="Base_Column_List">
        record_id, record_time, record_type, record_result, `comment`, ea_id, e_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from record
        where record_id = #{recordId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from record
        where record_id = #{recordId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="record_id" keyProperty="recordId" parameterType="com.github.aricSun.vsbo_oa.pojo.Record" useGeneratedKeys="true">
        insert into record (record_time, record_type, record_result,
                            `comment`, ea_id, e_id)
        values (#{recordTime,jdbcType=TIMESTAMP}, #{recordType,jdbcType=VARCHAR}, #{recordResult,jdbcType=VARCHAR},
                #{comment,jdbcType=VARCHAR}, #{eaId,jdbcType=INTEGER}, #{eId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="record_id" keyProperty="recordId" parameterType="com.github.aricSun.vsbo_oa.pojo.Record" useGeneratedKeys="true">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="recordType != null">
                record_type,
            </if>
            <if test="recordResult != null">
                record_result,
            </if>
            <if test="comment != null">
                `comment`,
            </if>
            <if test="eaId != null">
                ea_id,
            </if>
            <if test="eId != null">
                e_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordTime != null">
                #{recordTime,jdbcType=TIMESTAMP},
            </if>
            <if test="recordType != null">
                #{recordType,jdbcType=VARCHAR},
            </if>
            <if test="recordResult != null">
                #{recordResult,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="eaId != null">
                #{eaId,jdbcType=INTEGER},
            </if>
            <if test="eId != null">
                #{eId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.aricSun.vsbo_oa.pojo.Record">
        update record
        <set>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=TIMESTAMP},
            </if>
            <if test="recordType != null">
                record_type = #{recordType,jdbcType=VARCHAR},
            </if>
            <if test="recordResult != null">
                record_result = #{recordResult,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                `comment` = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="eaId != null">
                ea_id = #{eaId,jdbcType=INTEGER},
            </if>
            <if test="eId != null">
                e_id = #{eId,jdbcType=INTEGER},
            </if>
        </set>
        where record_id = #{recordId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.aricSun.vsbo_oa.pojo.Record">
        update record
        set record_time = #{recordTime,jdbcType=TIMESTAMP},
            record_type = #{recordType,jdbcType=VARCHAR},
            record_result = #{recordResult,jdbcType=VARCHAR},
            `comment` = #{comment,jdbcType=VARCHAR},
            ea_id = #{eaId,jdbcType=INTEGER},
            e_id = #{eId,jdbcType=INTEGER}
        where record_id = #{recordId,jdbcType=INTEGER}
    </update>

    <resultMap id="recordAndEmp" type="HashMap" autoMapping="true">
        <id property="recordId" column="record_id"/>
        <result property="ename" column="ename"/>
        <result property="recordTime" column="record_time"/>
        <result property="recordType" column="record_type"/>
        <result property="recordResult" column="record_result"/>
        <result property="eaId" column="ea_id"/>
        <result property="eId" column="e_id"/>
    </resultMap>
<!--    联查员工姓名-->
    <select id="selectByEaId" parameterType="int" resultMap="recordAndEmp">
        select r.*, e.ename from record r
        left join employee e on r.e_id = e.e_id
        where ea_id = #{eaId}
    </select>
</mapper>